<div class="images">
  <div class="images-header">
    <span class="images-header-content">
      <span class="images-image">
        <%= link_to image.user do %>
          <%= image_tag avatar_user(image.user), class: "img-responsive
            images-header-avatar" %>
        <% end %>
      </span>

      <div class="images-header-info">
        <h6><%= link_to image.user.name, image.user %> </h6>
        <small><%= time_ago_in_words image.created_at %></small>
        <span class="dropdown header-item images-header-icon">
          <%= link_to "#", class: "dropdown-toggle",
              data: {toggle: "dropdown"} do %>
            <%= image_tag "arrow.png", class: "icon" %>
          <% end %>
          <ul class="dropdown-menu">
            <% if image.user.current_user? current_user %>
              <%= link_to edit_image_path(image), remote: true do %>
                <li>
                  <span>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </span>
                  <span><%= t "images.edit" %></span>
                </li>
              <% end %>
              <%= link_to image_path(image), method: :delete,
                data: {confirm: t("you_sure")} do %>
                <li>
                  <span>
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </span>
                  <span><%= t "images.delete" %></span>
                </li>
              <% end %>
            <% end %>
            <% unless image.user.current_user? current_user %>
              <span id="image-bookmark-<%= image.id %>">
                <%= render "bookmarks/bookmark_form", image: image %>
              </span>
            <% end %>
          </ul>
        </span>
      </div>
    </span>
  </div>

  <div class="images-body">
    <div class="images-body-description">
      <%= image.description %>
    </div>

    <div class="images-body-image images-show img-responsive " data-toggle="modal"
      data-target="#images-modal-<%= image.id %>">
      <%= image_tag image.image.url unless image.image.blank?  %>
    </div>
    <hr>
  </div>
  <div class="images-footer">
    <span class="images-comments">
      <%= image_tag "comment.png", class: "images-comment-icon" %>
      <span id="comment-size-<%= image.id %>">
        <%= image.comments.hash_tree(limit_depth: Settings.limit_depth).size %>
      </span>
      <%= t "comments.comment" %>
    </span>
    <hr>
  </div>
  <div class="image-comment-form">
    <%= form_for [image, Comment.new], remote: true do |f| %>
      <%= image_tag avatar_user(current_user),
        class: "img-responsive img-avatar-comment" %>
      <%= f.text_field :content, placeholder: t("write-something"),
        class: "form-control comment-form-content",
        id: "image-comment-form-content-#{image.id}" %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :image_id, value: image.id %>
    <% end %>
    <hr>
  </div>
  <% offset = 0 %>
  <div class="images-comments" id="images-comments-<%= image.id %>">
    <% image_comments = image.comments
      .hash_tree(limit_depth: Settings.limit_depth)
      .take Settings.load_more_comment_size %>
    <% image_comments.each do |comment, nested_comments| %>
      <%= render "comments/comment", comment: comment %>
      <%= render "comments/edit_form", comment: comment %>
      <% offset = comment.id %>
    <% end %>
  </div>
  <div id="load-more-image-comments-<%= image.id %>">
    <% if image.comments.hash_tree(limit_depth: Settings.limit_depth).size >
      image_comments.size %>
      <%= link_to t("view-more"), image_comments_path(image, offset: offset),
        remote: true %>
    <% end %>
  </div>
  <%= render "images/image_modal", image: image %>
</div>
<div id="edit-image-modal-<%= image.id %>" class="modal fade" role="dialog">
</div>
